@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');

:root {
  --white: white;
  --black: black;
  --grey-1000: #181818;
  --grey-700: #484848;
  --grey-500: #888888;
  --grey-300: #d0d0d0; /*not used?*/
  --grey-100: #e8e8e8; /*not used?*/
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
}

.page_content {
  padding-left: 14%;
  padding-right: 14%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: var(--white);
  margin: 0;
  line-height: 90px;
}

h2 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: var(--white);
  margin: 0;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--grey-100);
  font-size: 20px;
  margin: 0;
}

p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.body_lg {
  font-size: 24px;
  line-height: 38px;
  color: var(--grey-100);
}

.body_md {
  font-size: 20px;
  line-height: 38px;
  color: var(--grey-100);
}

.body_base {
  font-size: 18px;
  line-height: 26px;
  color: var(--grey-100);
}

.body_sm {
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-300);
}

.page_content {
  background-color: var(--black);
}

#home {
  padding-top: 15%;
  padding-bottom: 6%;
}

#work {
  padding-top: 6%;
  padding-bottom: 6%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  background-color: var(--grey-1000);
  padding: 12px;
  overflow: hidden;
}

.image-container {
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}

.projectCard img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;
}

.projectCard:hover img {
  transform: scale(1.04);
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  .page_content {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media screen and (max-width: 550px) {
  .page_content {
    padding-left: 4%;
    padding-right: 4%;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }
  .body_lg {
    font-size: 20px;
  }

  .body_md {
    font-size: 18px;
  }

  .body_base {
    font-size: 16px;
  }

  .body_sm {
    font-size: 14px;
  }
}
