html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-family: 'Work Sans', sans-serif;
}

#menu {
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0px;
    right: 0px;
}

#menu ul {
    font-weight: 400;
    font-size: 14px;
    justify-content: flex-end;
    padding-top: 40px;
    padding-right: 40px;
    letter-spacing: 1px;
}

#menu ul a {
    color: lightgray;
}

#menu ul .active {
    font-weight: 800;
}

#menu ul li {
    padding-left: 30px;
}

#touch_menu {
    display: none;
}

.proj_content_container {
    width: 100%;
    padding-bottom: 20px;
    opacity: 0;
}

.intro_content {
    padding-left: 17%;
    padding-right: 17%;
    background-color: #F0F0F0;
    vertical-align: top;
    padding-top: 30px;
    padding-bottom: 80px;
    margin-top: -5px;
}

.hashtags {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

.intro_highlight {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
}

.intro_details {
    padding-left: 250px;
    padding-right: 250px;
}

.intro_heading {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #808080;
    line-height: 0px;
}

.intro_text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.heading {

    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 1px;
    color: #808080;
}

.highlight {

    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 1px;
}

.general {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #808080;
}

.full {
    padding-left: 50px;
    padding-right: 50px;
}

.text {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 250px;
    padding-right: 250px;
}

#ii-vid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**************UNIQUE***********************/
.CGcolor {
    background-color: #5EBEAB;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.dgrey {
    background-color: #B0B0B0;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.grey {
    background-color: #F3F3F3;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.lgrey {
    background-color: #F5F5F5;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 80px;
    padding-bottom: 80px;
}

/**************UNIQUE***********************/

/***********************SLIDESHOW***********************/
.slideshow {
    background-color: #F3F3F3;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
}

.slideshow_container {
    flex: 98;
    position: relative;
}

.arrow_container {
    display: flex;
    align-items: center;
}

.arrow {
    flex: 1;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.slideshow_container .active {
    display: block;
}

.prev,
.next {
    cursor: pointer;
    width: auto;
    padding: 15px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.inline {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

.inline img {
    width: 49%;
    padding: 3px;
}

/***********************SLIDESHOW***********************/

img {
    width: 100%;
}

.other_projects {
    border-top: solid 1px grey;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    text-align: end;
}


@media screen and (max-width: 1024px) {

    #menu {
        display: none;
    }

    #touch_menu {
        display: block;
    }

    #touch_menu .hamburger {
        position: fixed;
        z-index: 3;
        top: 30px;
        right: 30px;
    }

    #touch_menu nav {
        display: none;
    }

    #touch_menu nav {
        opacity: 0;
    }

    #touch_menu .show {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 2;
        background-color: white;
    }

    #touch_menu nav ul {
        display: flex;
        flex-direction: column;
    }

    #touch_menu nav ul li {
        padding-top: 40px;
        padding-bottom: 40px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 1px;
    }

    .intro_content {
        padding-left: 15%;
        padding-right: 15%;
    }

    .hashtags {
        font-size: 16px;
    }

    .intro_highlight {
        font-size: 24px;
    }

    .intro_details {
        padding-left: 150px;
        padding-right: 150px;
    }

    .intro_heading {
        font-size: 18px;
    }

    .intro_text {
        font-size: 20px;
    }

    .heading {
        font-size: 24px;
    }

    .highlight {
        font-size: 36px;
    }

    .full {
        padding: 0px;
    }

    .text {
        padding-left: 200px;
        padding-right: 200px;
    }

    .CGcolor {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .grey,
    .dgrey {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .lgrey,
    .slideshow {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {

    .hashtags {
        font-size: 14px;
    }

    .intro_highlight {
        font-size: 20px;
    }

    .intro_details {
        padding-left: 100px;
        padding-right: 100px;
    }

    .intro_heading {
        font-size: 16px;
    }

    .intro_text {
        font-size: 18px;
    }

    .heading {
        font-size: 20px;
    }

    .highlight {
        font-size: 32px;
    }

    .general {
        font-size: 16px;
        line-height: 24px;
    }

    .text {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 450px) {

    #touch_menu .hamburger {
        top: 10px;
        right: 0px;
    }

    #touch_menu img {
        height: auto;
    }

    #touch_menu nav ul li {
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .intro_content {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 50px;
    }

    .hashtags {
        font-size: 12px;
    }

    .intro_highlight {
        font-size: 18px;
    }

    .intro_details {
        padding-left: 0px;
        padding-right: 0px;
    }

    .intro_heading {
        font-size: 12px;
    }

    .intro_text {
        font-size: 14px;
    }

    .heading {
        font-size: 14px;
    }

    .highlight {
        font-size: 20px;
    }

    .general {
        font-size: 10px;
        line-height: 16px;
    }

    .text {
        padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .CGcolor,
    .grey,
    .lgrey,
    .dgrey,
    .slideshow {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .other_projects {
        padding-right: 0px;
        text-align: center;
    }
}