.margin_content {
    margin-left: 150px;
    margin-right: 150px;
}

.proj_content {
    margin-top: 150px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1px;
    color: black;
}

.next_project {
    text-align: center;
    background-color: #EFEFEF;
    padding-top: 45px;
    padding-bottom: 40px;
}

.next_project p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: black;
}

.next_project img {
    width: 30px;
    height: auto;
    margin-top: 10px;
}

.hashtags {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #9A9A9A;
    margin-top: 35px;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: -4px;
    margin-bottom: 30px;
}

.header_img {
    width: 100%;
}

.section_container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section_container p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .5px;
}

.left {
    flex: 1;
    margin-right: 30px;
}

.right {
    flex: 2;
    margin-left: 30px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: -7px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}

.section_container ul {
    list-style: square;
    margin-left: 20px;
}

.image_fullwidth {
    width: 100%;
    height: auto;
}

.screen_left {
    flex: 2;
    margin-right: 30px;
}

.screen_right {
    flex: 1;
    margin-left: 30px;
    align-self: center;
}

.screens {
    width: 100%;
    height: auto;
}

.space {
    padding-top: 50px;
    color: white;
}

.section_container .caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .5px;
    color: grey;
}

#vid_proto {
    margin: 0;
    padding: 0;
    /* background: #333; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.laptop {
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.laptop img {
    width: 100%;
}

.laptop video {
    position: absolute;
    width: 67.7%;
    height: 81.3%;
    background: #000;
    top: 7.1%;
    left: 17.5%;
}

@media only screen and (max-width: 800px) {
    .margin_content {
        margin-left: 50px;
        margin-right: 50px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 16px;
        line-height: 24px;
    }

    .subtitle {
        font-size: 14px;
    }

    .section_container p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 550px) {
    .proj_content {
        margin-top: 100px;
    }

    .margin_content {
        margin-left: 10px;
        margin-right: 10px;
    }

    .hashtags {
        margin-top: 25px;
        font-size: 10px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
    }

    h3 {
        font-size: 14px;
        line-height: 20px;
    }

    .subtitle {
        font-size: 12px;
    }

    .section_container p {
        font-size: 12px;
    }

    .section_container {
        flex-direction: column;
    }

    .left {
        margin-right: 15px;
        margin-left: 15px;
    }

    .right {
        margin-right: 15px;
        margin-left: 15px;
    }

    .screen_left {
        margin-right: 0px;
        margin-left: 0px;
    }

    .screen_right {
        margin-right: 15px;
        margin-left: 15px;
    }

    .space {
        padding-top: 10px;
    }

    .section_container .caption {
        font: 10px;
    }
}